{%extends 'layout.html' %}
{%block content%}
<html>
<body>
<div class="add_form">
  <h2>Add image to website</h2>

    
    {% with messages = get_flashed_messages() %}  
      {% if messages %}  
      {% for message in messages %}  
      <div class="add_errors">
          <p><b>{{ message }}</b></p>  
      </div>
      {% endfor %}  
      {% endif %}  
    {% endwith %}  
    <form method="POST" action="" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <input type="file" name="display-image" id="display-image" accept=".jpeg, .png", onchange="showPreview(event);">
    <br>
    <div class="preview">
      <img id="display-image-preview">
    </div>

    <p>Image orientation: {{form.orientation}}</p>
    <p>Ncea Level: {{ form.ncea }} </p>
    <p>Tags: <br> {{ form.tags }} </p>
    <p>New tag: <br> {{ form.new_tag(placeholder="Layout: 1, 2, 3")}} </p>
    <p>Locations: <br> {{ form.locations }} </p>
    <p>New location: <br> {{ form.new_location }} </p>

    <input type="submit" value="Submit">

  </form>
</div>

</body>
<script>
function showPreview(event){
  if(event.target.files.length > 0){
    var src = URL.createObjectURL(event.target.files[0]);
    var preview = document.getElementById("display-image-preview");
    preview.src = src;
    preview.style.display = "block";
  }
}
</script> 
</html>
{% endblock %}