{%extends 'layout.html' %}
{%block content%}

<div class="gallery">
<h1>Gallery</h1>

<form method="POST" action="" enctype="multipart/form-data">
<p>Filter images: {{ form.options }}</p>
<input type="submit" value="Submit">

{% if display_all == True%}
    <div class="grid">

        {% for picture in id_url %}

                <a class="link_info" href="/photo/{{picture[0]}}"><img src="/static/images/{{picture[1]}}"></a>

        {% endfor %}


    </div>
{% endif %}

{% if display_all == False%}
    <div class="grid">

        {% for picture in image_url %}

            <a class="link_info" href="/photo/{{picture[0]}}"><img src="/static/images/{{picture[0][1]}}"></a>

        {% endfor %}


    </div>
{% endif %}

</div>

{% endblock %}
