{%extends 'layout.html' %}
{%block content%}


<div class="info">
    <h2>About</h2>
    <p>This is a gallery of all images. To filter check tags that you would like to view 
        specifically.</p>
    <button onclick="filterfunction()">Filter</button>
    <div id="filters">
        <form method="POST" action="" enctype="multipart/form-data">
            <p>{{ form.options }}</p>
        <div class="submit_filter">
        <input type="submit" value="Submit">
        </div>
        </form>
    </div>
</div>

<div class="gallery">

{% if display_all == True%}
    <div id="grid">
        {% for picture in id_url %}
            <a class="link_info" href="/photo/{{picture[0]}}"><img src="/static/images/{{picture[1]}}"></a>
        {% endfor %}
    </div>
{% endif %}

{% if display_all == False%}
    
        {% if image_url != [] %}
        {% for picture in image_url %}
        <div id="grid">
            <a class="link_info" href="/photo/{{picture[0]}}"><img src="/static/images/{{picture[0][1]}}"></a>
        </div>
        {% endfor %}
        {% else %}
        <div class="no_tags">
            <h2>There are currently no images with tag(s) selected. Try again with differnt tags.</h2>
        </div>
        {% endif %}
    
{% endif %}

</div>

<script>
function filterfunction() {
    var filter = document.getElementById("filters");
    if (filter.style.display !== "block") {
        filter.style.display = "block";
    } else {
        filter.style.display = "none";
    }
}
</script>


<script>
    var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;
    
    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');
        
        if (sParameterName[0] === sParam) {
        return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
    return false;
    };

    var options = getUrlParameter('options');
    console.log(options);
    $("#options").attr("checked",options.indexOf("options") !== -1);

   
</script>
{% endblock %}


