{%extends 'layout.html' %}
{%block content%}

<div class="gallery">
<h1>Gallery</h1>

<div class="grid">

    <div class="grid-sizer"></div>
    {% for picture in id_url %}

        <div class="grid-item {{picture[3]}}">
            <a class="link_info" href="/photo/{{picture[0]}}"><img src="/static/images/{{picture[1]}}"></a>
        </div>

    {% endfor %}


</div>

</div>

<script>
$('.grid').masonry({
  itemSelector: '.grid-item',
  columnWidth: '.grid-sizer',
  percentPosition: true
});
</script>
{% endblock %}
