{% extends 'layout.html' %} 
{% block content %}

{% if random_index != None %}
<div class="home">
<div class="slideshow-container">
    <center>
        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
          <div class="numbertext"></div>
          <a href="/photo/{{random_index[0][0]}}"><img src="/static/images/{{random_index[0][1]}}"></a>
        </div>
      
        <div class="mySlides fade">
          <div class="numbertext"></div>
          <a href="/photo/{{random_index[1][0]}}"><img src="/static/images/{{random_index[1][1]}}"></a>
        </div>
    
        <div class="mySlides fade">
          <div class="numbertext"></div>
          <a href="/photo/{{random_index[2][0]}}"><img src="/static/images/{{random_index[2][1]}}"></a>
        </div>
    
    
     

      </div>
      <br>
      

      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>

      </div>

      <center>
      <div class="blurb">
      <h1>About</h1>
      <p>This project was designed and created by me. 
        The purpose of my website is to have a place for myself and others to be able to efficiently view and find out information about images I have taken. 
        This is useful for me as it is a much easier way to file my photos in a way that is always easily accessible so that I am able to filter my images instead of sorting through huge amounts of photos within folders on my hard drive. 
        For other potential users whether it be friends or family that I want to be able to show my new images or someone else who could potentially be interested in viewing my images it allows them to view the images at any time rather than me having to manually find and send my images to them. 
        This project was created for the purpose of it being much easier to view my images as I was tired of having to sort through hundreds of photos and folders. <a href="/gallery">To access the gallery click <b><u>here</u></b>.</a><a href="/ncea"> To see all NCEA images click <b><u>here</u></b>.</a></p>
      </center>
      </div>
    </div>

      {% endif %}


<script>
  let slideIndex = 0;
  showSlides();
  
  function showSlides() {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 4000); // Change image every 2 seconds
  }
  </script>

 

{% endblock %}