{% extends 'layout.html' %} 
{% block content %}

<div class="Login_Form">
<form method="POST" action="" enctype="multipart/form-data">
{% if logged_in %}
<h1>You are now logged in</h1>
{% endif %}

{% if logged_in != True %}
<h1>Login</h1>
{% with messages = get_flashed_messages() %}  
{% if messages %}  
    {% for message in messages %}  
        <p>{{ message }}</p>  
    {% endfor %}  
{% endif %}  
{% endwith %}
{{ form.username(placeholder="Username") }}
<br>
{{ form.password(placeholder="Password") }}
</div>
<input type="submit" value="Submit">
{% endif %}
{% endblock %}
