{% extends 'layout.html' %} 
{% block content %}

<center>
<h1>All images for NCEA</h1>

<div class="ncea_preview">
    <div class="level_2_grid">
        <a href="/level/2"><h2>NCEA Level 2</h2></a>
    </div>

    <div class="level_3_grid">
        <a href="/level/3"><h2>NCEA Level 3</h2></a>
    </div>


<div class="slideshow-container">
  <div class="mySlides1">
    <a href="/level/2"><img src="/static/images/{{level_2_images[0].url}}"></a>
  </div>

  <div class="mySlides1">
    <a href="/level/2"><img src="/static/images/{{level_2_images[0].url}}"></a>
  </div>

  <div class="mySlides1">
    <a href="/level/2"><img src="/static/images/{{level_2_images[0].url}}"></a>
  </div>

</div>


<div class="slideshow-container">
  <div class="mySlides2">
    <a href="/level/3"><img src="/static/images/{{level_2_images[0].url}}"></a>
  </div>

  <div class="mySlides2">
    <a href="/level/3"><img src="/static/images/{{level_2_images[0].url}}"></a>
  </div>

  <div class="mySlides2">
    <a href="/level/3"><img src="/static/images/{{level_2_images[0].url}}"></a>
  </div>

</div>


</div>
</table>
</center>

<script>
  let slideIndex = [1,1];
  let slideId = ["mySlides1", "mySlides2"]
  showSlides(1, 0);
  showSlides(1, 1);
  
  function plusSlides(n, no) {
    showSlides(slideIndex[no] += n, no);
  }
  
  function showSlides(n, no) {
    let i;
    let x = document.getElementsByClassName(slideId[no]);
    if (n > x.length) {slideIndex[no] = 1}    
    if (n < 1) {slideIndex[no] = x.length}
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    x[slideIndex[no]-1].style.display = "block";  
  }

  
  </script>


{% endblock %}

