{% extends 'layout.html' %} 
{% block content %}

<center>
<h1><u>All images for NCEA</u></h1>
<h3>To view all NCEA images for each of the NCEA levels click on the images below.</h3>

<div class="ncea_preview">
    <div class="level_2_grid">
        <a href="/level/2"><h2>NCEA Level 2</h2></a>
    </div>

    <div class="level_3_grid">
        <a href="/level/3"><h2>NCEA Level 3</h2></a>
    </div>


<div class="slideshow-container">
  <div class="mySlides1">
    <a href="/level/2"><img src="/static/images/{{level_2_slide[0][1]}}"></a>
  </div>

  <div class="mySlides1">
    <a href="/level/2"><img src="/static/images/{{level_2_slide[1][1]}}"></a>
  </div>

  <div class="mySlides1">
    <a href="/level/2"><img src="/static/images/{{level_2_slide[2][1]}}"></a>
  </div>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>

  </div>

</div>


<div class="slideshow-container">
  <div class="mySlides2">
    <a href="/level/3"><img src="/static/images/{{level_3_slide[0][1]}}"></a>
  </div>

  <div class="mySlides2">
    <a href="/level/3"><img src="/static/images/{{level_3_slide[1][1]}}"></a>
  </div>

  <div class="mySlides2">
    <a href="/level/3"><img src="/static/images/{{level_3_slide[2][1]}}"></a>
  </div>


  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  
  </div>
</div>


</div>
</table>
</center>


<script>
  let slideIndex = 0;
  showSlides1();
  
  function showSlides1() {
    let i;
    let slides = document.getElementsByClassName("mySlides1");
    let dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides1, 4000); // Change image every 2 seconds
  }
  </script>

<script>
  let slideIndex2 = 0;
  showSlides2();
  
  function showSlides2() {
    let i;
    let slides = document.getElementsByClassName("mySlides2");
    let dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides2, 4000); // Change image every 2 seconds
  }
  </script>


{% endblock %}

