{%extends 'layout.html' %}
{%block content%}

<div class="back_button">
    <a href="/gallery"><img src="/static/images/Icons/arrow_back_FILL0_wght700_GRAD200_opsz20.png" class="invert"><b> Back To Gallery</b></a>
</div>

<div class="info_grid">


    <div class="info_image_{{photo.orientation|lower}}">
        <img src="/static/images/{{photo.url}}">
    </div>

    <div class="information_of_image">
        
        
        <h1>Info</h1>
        {% if exif_data != None%}
        <div class="setting_grid">
            <p><b>Focal Length:</b> {{exif_data.focal_length}}</p>

            <p><b>Date:</b> {{exif_data.date}}</p>

            <p><b>Exposure Length:</b> {{exif_data.exposure_time}}s</p>

            <p><b>Apperture:</b> {{exif_data.aperture}}</p>

        </div>
        {% else %}
        <p>This image does not have any exif data!</p>
        {% endif %}

        {% if photo.tags != []%}
        <h3>Tags:</h3>
        {% for tag in photo.tags%}
            <li>{{tag.tag_name}}</li>
        {% endfor %}

        {% else %}
        <p>This image doesnt have any tags associated.</p>
        {% endif %}

        {% if photo.locations.location_name != [] %}
        <h3>Location:</h3>
        <p>{{ photo.locations.location_name }}</p>
        {% else %}
        <p>This image doesnt have a location associated.</p>
        {% endif %}

    </div>

    <div class="edit_image_data">
        {% if logged_in %}
        <h2>Edit Image Info:</h2>
        
        <div class="photo_page_errors">
        {% with messages = get_flashed_messages() %}  
            {% if messages %}  
            {% for message in messages %}  
                <p><b>{{ message }}</b></p>  
            {% endfor %}  
            {% endif %}  
        {% endwith %}  
        </div>

        <form method="POST" action="" enctype="multipart/form-data">

        <p>Image orientation: {{form.orientation}}</p>
        <p>Ncea Level: {{ form.ncea }} </p>
        <p>Tags: <br> {{ form.tags }} </p>
        <p>New tag: <br> {{ form.new_tag(placeholder="Layout: 1, 2, 3")}} </p>
        <p>Locations: <br> {{ form.locations }} </p>
        <p>New location: <br> {{ form.new_location }} </p>

        <input type="submit" value="Submit">
        <br>
        <br>

        </form>
        {% endif %}
    </div>



    



</div>


{% endblock %}