{%extends 'layout.html' %}
{%block content%}

<div class="back_button">
    <a href="/gallery"><img src="/static/images/Icons/arrow_back_FILL0_wght700_GRAD200_opsz20.png" class="invert"><b> Back To Gallery</b></a>
</div>

<div class="info_grid">


    

    {% if format_of_image == "Portrait"%}
    <div class="info_image_portrait">
        <img src="/static/images/{{info_of_image[0][1]}}">
    </div>

    {% elif format_of_image == "Landscape" %}

    <div class="info_image_landscape">
        <img src="/static/images/{{info_of_image[0][1]}}">
    </div>

    {% endif %}

    <div class="information_of_image">
        
        
        <h1>Info</h1>
        <div class="setting_grid">
            <p><b>Focal Length:</b> {{data_for_image[0]}}</p>

            <p><b>Date:</b> {{data_for_image[1]}}</p>

            <p><b>Exposure Length:</b> {{data_for_image[2]}}s</p>

            <p><b>Apperture:</b> {{data_for_image[3]}}</p>

        </div>

        <h3>Tags:</h3>
        {% for tag_name in list_of_tags%}
            <a href="/gallery?options=5"><li>{{tag_name[0]}}</li></a>
        {% endfor %}


        {% if logged_in %}
        <p>Image orientation: {{form.orientation}}</p>
        <p>Ncea Level: {{ form.ncea }} </p>
        <p>Tags: <br> {{ form.tags }} </p>
        <p>New tag: <br> {{ form.new_tag(placeholder="Layout: 1, 2, 3")}} </p>
        <p>Locations: <br> {{ form.locations }} </p>
        <p>New location: <br> {{ form.new_location }} </p>

        <input type="submit" value="Submit">
        {% endif %}



    </div>



</div>


{% endblock %}