{%extends 'layout.html' %}
{%block content%}
<center>
<div class="register">
<form method="POST" action="" enctype="multipart/form-data">
<h1>Register</h1>
{% if logged_in == True %}

<p>You are already logged in!</p>

{% else %}
<p>To register you must know the key!</p>
{% with messages = get_flashed_messages() %}  
{% if messages %}  
    {% for message in messages %}  
    <div class="login_error">
        <p>{{ message }}</p>  
    </div>
    <br>
    {% endfor %}  
{% endif %}  
{% endwith %}
{% endif %}  
{{ form.username(placeholder="Username") }}
<br>
{{ form.password(placeholder="Password") }}
<br>
{{ form.password_check(placeholder="Password Check") }}
<br>
{{ form.key(placeholder="Admin key")}}
<br>
<input type="submit" value="Submit">
</form>
</div>
</center>

{% endblock %}